* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body{
  /*font-family: url("https://fonts.googleapis.com/css2?family=Roboto");*/
  background-color: whitesmoke ;
  font-family: 'roboto', sans-serif;
}

img[class="imgProducto"]{
  width: 500px;
  height: 500px;
  left: 400px;
}

.etiquetas li{
  list-style: none;
}

.etiquetas ul{
  display: flex;
}

li a{
  text-decoration: none;
  color: #004e58;
  font-size: 20px;
  margin-left: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 9px;
}

a[class="mas"]{
  width: 30px;
  color: #FF0000;
}

a[class="Salsas"]{
  color: #6633FF;
}

a[class="Cocina"]{
  color: #0033FF;
}

a[class="Grasas"]{
  color: #339900;
}

.Titulo h1{
  color: #004e58;
  font-size: 50px;
  margin-top: 5px;
}

.Titulo {
  text-align: center;
}

.linea-division{
  margin-top: -30px;
  opacity: 7%;
  width: 200%;
  height: 3px;
  background-color: #36221c;
}

.linea-division-pequeña {
  opacity: 7%;
  width: 300px;
  height: 3px;
  background-color: #36221c;
  margin: auto;
}

.linea-division-des {
  opacity: 7%;
  width: 500px;
  height: 3px;
  background-color: #36221c;
  margin: auto;
}

.contenido h2{
  font-size: 50px;
  color: #004e58;
}

.contenido h4{
  color: #339900;
}

.contenido h1{
  font-size: 100px;
  color: #004e58;
}

.contenido h3,h{
  display: inline;
}

.contenido h{
  color: #0033FF;
}

.contenido1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 2fr);
}

.contenido i{
  font-size: 25px;
  color: #4807ea;
  background-color: rgba(218,227,246,0.5);
  border-radius: 15px;
  padding: 9px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);;
}

.contenido{
  display: flex;
  grid-column: 2 / 3;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: radial-gradient(55.22% 50% at 50% 60%, rgba(255, 100, 51, 0.15) 0%, 
  rgba(245, 228, 255, 0) 80%);
}

.etiquetas{
  display: flex;
  align-items: center;
  justify-content: center;
}

.etiquetas ul{
  font-size: 30px;
  color: #004e58;
}

article h4{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: #004e58;
}

p{
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
  margin-left: 60px;
  margin-right: 60px;
  color: #004e58;

}



/*-------------------------------------- Menu de Navegación --------------------------------------  */

.navigation {
  z-index: 10;
  background-color: white;
  height: 70px;
}

.navigation .menu > .item-m {
  float: left;
}

.navigation .menu .item-m {
  list-style: none;
}

.container-logo {
  width: 600px;
  height: 100%;
}

.contenedor-buscar {
  width: 30%;
  height: 50px;
  background: rgb(230, 228, 228);
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

select {
  width:370px;
	padding:11px;
  background-color: rgb(230, 228, 228);
  border: none;
  appearance: none;
  font-size: 17pt;
  color: #63717f;
  font-weight: bold;
}

.buscador{
  width: 300px;
  border:none;
  color: #4f5b66;
  background-color:transparent;
  margin-top: 15px;
  margin-left: 10px ;
  font-size: 18px;
}

.icon{
  position:absolute;
  margin-top: 18px;
  margin-left: -15px;
}

.navigation .menu .item-m a {
  color: gray;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 20px;
  margin-left: 60px;
  font-weight: 400;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.navigation .menu .item-m a:hover {
  border-bottom: 3px solid gray;
  transition: border-bottom 2s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0px 20px;
}

.banner {
    width: 100%;
}


.btn-menu {
  display: none;
  text-decoration: none;
  color: gray;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.btn-menu i {
  margin-left: 10px;
}


.menu-lateral {
  background-color: #e6e4e4;
  z-index: 1000;
  display: none;
}

.menu-lateral a {
  text-decoration: none;
  font-weight: bolder;
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.menu-lateral ul {
  list-style: none;
}

@media (max-width: 932px) {
  .contenido h2{
  font-size: 40px;
  }

  .contenido h1{
    font-size: 70px;
  }
}

@media (max-width: 834px) {
  .contenido h2{
  font-size: 25px;
  }

  .contenido h1{
    font-size: 50px;
  }

  .Titulo h1 {
    font-size: 30px;
  }

  .imagenProducto img {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 870px) {
  .contenedor-buscar {
    display: none;
  }

  .menu {
    display: none;
  }

  .btn-menu {
    display: block;
    padding-right: 20px;
  }

  .btn-menu .text-btn {
    font-size: 22px;
    margin-right: 2px;
  }

  .btn-menu .bars{
    width: 20px;
    height: 20px;
    transform: rotate(0turn);
    transition: transform 0.5s;
  }

  .btn-menu .bars.active {
    transform: rotateZ(90deg);
    transition: transform 0.5s;
  }

  body {
    padding-top: 70px;
  }

  header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 1000;
  }

  .menu-lateral {
    display: block;
    width: 80%;
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
    height: calc(100% - 80px);
  }

  .menu-lateral ul li {
    display: none;
  }

  .menu-lateral li:hover > .children li{
    display: none;
  }

  .menu-lateral i {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-lateral li a{
    display: block;
    padding-top: 25px;
  }

  .menu-lateral li .children {
    width: 100%;
    position: relative;
  }

  .children li a{
    margin-left: 20px;
  }
}

@media (max-width: 592px) {
  .contenido1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
  } 

  .Titulo {
    grid-row: 1 / 2;
  }

  .contenido {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}